<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotbuns</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
        <div class="container">
            <a >@Html.ActionLink("HotBuns", "Index", "Home", new { @class = "navbar-brand navbar-logo mx-auto text-center" })</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div>

                </div>
                <div class="mx-auto">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item mx-auto">
                            <a >@Html.ActionLink("Brood", "Brood", "Products", new {@class = "nav-link" })</a>
                        </li>
                        <li class="nav-item mx-auto">
                            <a>@Html.ActionLink("Koek", "Brood", "Products", new { @class = "nav-link"})</a>
                        </li>
                        <li class="nav-item mx-auto">
                            <a>@Html.ActionLink("Zoetigheid", "Brood", "Products", new { @class = "nav-link"})</a>
                        </li>
                        <li class="nav-item mx-auto">
                            <a>@Html.ActionLink("Over Ons", "About", "Home", new {@class="nav-link" })</a>
                        </li>

                    </ul>
                </div>
                <div class="ml-auto">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-auto">
                            <a>@Html.ActionLink(" ", "#", "#", new { area = "ShopppingCart" }, new { @class = "fas fa-shopping-cart fa-2x nav-link" }) </a>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </nav>

        

    @* --Body-- *@
    <div class="">
        @RenderBody()


        @*--Footer-- *@
        <footer>
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <h5>Klantenservice</h5>
                        <ul class="nav-list">
                            <li ><a class="foot-link" href="#">Contact</a></li>
                            <li ><a class="foot-link" href="#">Bestellen en leveren</a></li>
                            <li ><a class="foot-link" href="#">Betalen</a></li>
                            <li ><a class="foot-link" href="#">Retourneren</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>HotBuns</h5>
                        <ul class="nav-list">
                            <li ><a>@Html.ActionLink("Over Ons", "About", "Home", new { @class = "foot-link" })</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <h5>Voorwaarden en Beleid</h5>
                        <ul class="nav-list">
                            <li ><a class="foot-link" href="#">Algemene voorwaarden</a></li>
                            <li ><a class="foot-link" href="#">Privacybeleid</a></li>
                            <li ><a class="foot-link" href="#">Cookies</a></li>
                        </ul>
                    </div>
                </div>
                <hr />
                <p class="text-center">&copy; @DateTime.Now.Year - HotBuns</p>
            </div>
        </footer>
    </div>

    @* --scripts -- *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
