
@{
    ViewBag.Title = "brood";
}

<div class="sidenav card">
    <article class="card-group-item">
        <header class="card-header">
            <h4 class="title">Filter </h4>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <form>
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Wit
                        </span>
                    </label> <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Bruin
                        </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Volkoren
                        </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Mais
                        </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Met Zaden
                        </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Zonder Zaden
                        </span>
                    </label>  <!-- form-check.// -->
                    <hr />
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Koolhydraat arm
                        </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Zoutarm
                        </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Glutenvrij
                        </span>
                    </label>  <!-- form-check.// -->
                    <hr />
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Harde Korst
                        </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                            Zachte Korst
                        </span>
                    </label>  <!-- form-check.// -->

                </form>
            </div> <!-- card-body.// -->
        </div>
    </article> <!-- card-group-item.// -->
</div> <!-- card.// -->

<div class="container">

    <div class="row m-4">
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Bruin brood.jpg" alt="ZaansBB" style="width:100%">
                <div class="container">
                    <h4>Zaans bruin </h4>
                    <p><p>
                    <p>Zaans bruin brood op traditionele wijze gebakken</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>
   
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Zaans wit.jpg" alt="ZaansWB" style="width:100%">
                <div class="container">
                    <h4>Zaans wit </h4>
                    <p><p>
                    <p> Zaans wit brood op traditionele wijze gebakken   </p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Bruin brood.jpg" alt="ZaansVB" style="width:100%">
                <div class="container">
                    <h4>Zaans volkoren </h4>
                    <p><p>
                    <p> Volkoren brood op traditionele wijze gebakken </p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Tijger bruin.jpg" alt="TijgerBB" style="width:100%">
                <div class="container">
                    <h4>Tijger Bruin</h4>
                    <p><p>
                    <p>Traditionele wijze gemaakt met voordeeg en een krokant tijgerkorstje</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Tijger wit.jpg" alt="TijgerWB" style="width:100%">
                <div class="container">
                    <h4>Tijger Wit</h4>
                    <p><p>
                    <p>Traditionele wijze gemaakt met voordeeg en een krokant tijgerkorstje</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Tijger volkoren.jpg" alt="TijgerVB" style="width:100%">
                <div class="container">
                    <h4>Tijger Volkoren</h4>
                    <p><p>
                    <p>Traditionele wijze gemaakt met voordeeg en een krokant tijgerkorstje</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Tijger bruin.jpg" alt="TijgerBB" style="width:100%">
                <div class="container">
                    <h2>Tijger Bruin</h2>
                    <p><p>
                    <p> op traditionele wijze gemaakt met voordeeg en een krokant tijgerkorstje</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Tijger wit.jpg" alt="TijgerWB" style="width:100%">
                <div class="container">
                    <h2>Tijger Wit</h2>
                    <p><p>
                    <p>op traditionele wijze gemaakt met voordeeg en een krokant tijgerkorstje</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Tijger volkoren.jpg" alt="TijgerVB" style="width:100%">
                <div class="container">
                    <h2>Tijger Volkoren</h2>
                    <p><p>
                    <p> op traditionele wijze gemaakt met voordeeg en een krokant tijgerkorstje</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>




        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Vloerbrood bruin.jpg" alt="VloerBB" style="width:100%">
                <div class="container">
                    <h2> Vloerbrood bruin </h2>
                    <p><p>
                    <p>Vloerbrood wordt vrij op de vloer van de oven gebakken.</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Vloerbrood wit.jpg" alt="VloerWB" style="width:100%">
                <div class="container">
                    <h2> Vloerbrood wit met zaad </h2>
                    <p><p>
                    <p>Vloerbrood wordt vrij op de vloer van de oven gebakken. </p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Vloerbrood volkoren.jpg" alt="VloerVB" style="width:100%">
                <div class="container">
                    <h2> Vloerbrood volkoren </h2>
                    <p><p>
                    <p> Vloerbrood wordt vrij op de vloer van de oven gebakken.</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>



        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Geniusmeerzaden.jpg" alt="Genius Meerzaden" style="width:100%">
                <div class="container">
                    <h4>Genius meerzaden</h4>
                    <p><p>
                    <p> Glutenvrij en tarwevrij vruchtenbrood van Genius.</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Geniusbruin.jpg" alt="Geniusbruin" style="width:100%">
                <div class="container">
                    <h2>Genius bruin</h2>
                    <p><p>
                    <p> Bruinbrood van Genius is glutenvrij en tarwevrij</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img src="~/Content/images/Geniusrozijnen.jpg" alt="GeniusRozijn" style="width:100%">
                <div class="container">
                    <h2> Genius rozijn</h2>
                    <p><p>
                    <p> Glutenvrij en tarwevrij vruchtenbrood van Genius.</p>
                    <p><a @Html.ActionLink("Meer Informatie", "DetailPage", "Products", "Products", new { @class = "button" })</a>
                </div>
            </div>
        </div>
    </div>
</div>









